* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-attachment: fixed;
}

.container > h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

#container1 {
  background-image: url("https://img1.hscicdn.com/image/upload/f_auto,t_ds_w_1200,q_50/lsci/db/PICTURES/CMS/361100/361170.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container2 {
  background-image: url("https://img1.hscicdn.com/image/upload/f_auto,t_ds_w_1200,q_50/lsci/db/PICTURES/CMS/361000/361001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container3 {
  background-image: url("https://img1.hscicdn.com/image/upload/f_auto,t_ds_w_1200,q_50/lsci/db/PICTURES/CMS/286300/286301.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container4 {
  background-image: url("https://img1.hscicdn.com/image/upload/f_auto,t_ds_w_1200,q_50/lsci/db/PICTURES/CMS/286000/286065.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
