* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont-1 {
  width: 50vw;
  height: 50vh;
  background-color: lightgreen;
}

.cont-2 {
    width: 400px;
    background-color: lightblue;
}

.cont-2 > .box{
    width: 50%;
}