* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    /* grid-template-columns: 1fr 1fr 1fr;  */

    /* grid-template-rows: 100px 120px 240px; */
    grid-auto-rows: 100px;
    height: 85vh;
    gap: 10px;
    justify-content: center;
    align-content: center;
    background-color: lightblue;
    border: 3px solid black;
    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.7);
}

.box {
    padding: 10px;
    border: 3px solid yellow;
    background-color: lightcoral;
    color: white;
    padding-top: 35px;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.7);
}

#box1 {
    grid-column: span 5;
}

#box2 {
    grid-row: span 2;
}

#box3 {
    grid-column: span 4;
}

#box4 {
    grid-column: span 3;
}

#box8 {
    grid-column: span 2;  
}

#box9 {
    grid-row: span 2;  
}

#box10 {
    grid-column: span 2;    
}